# Ignorer les fichiers de configuration sensibles
credentials.json
colocataires.csv


# Ignorer les environnements virtuels Python
.venv/

# Ignorer les fichiers temporaires de l'OS et de l'IDE
*.log
.DS_Store
__pycache__/